---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import arbeitsweiseImage from "../assets/sun.webp";
import haende from "../assets/haende_baum.jpg";
import ImageTextSection from "../components/ImageTextSection.astro";
import ColorSection from "../components/ColorSection.astro";
import Divider from "../components/Divider.astro";
---

<Layout title="Arbeitsweise" description="tbd">
  <main>
    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div class="space-y-5 md:basis-3/5">
          <h1
            class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
          >
            Meine Arbeitsweise
          </h1>
          <p>
            Sowohl beruflich als auch privat orientiere ich mich an einem
            ganzheitlichen Verständnis des Mensch-Seins, bei dem körperliche,
            psychische und feinstoffliche Ebenen miteinander verbunden sind.
            Auch das Umfeld - wie Wohnsituation, Familie, Freunde, und
            Gesellschaft - beeinflusst das Leben maßgeblich.
          </p>
          <p>
            Dementsprechend ergänzen sich verschiedene Wege und Möglichkeiten,
            darunter Schulmedizin, Naturheilkunde und energetisch-spirituelle
            Praxis, um innere Stabilität, persönliche Entwicklung und Gesundheit
            zu erhalten bzw. zu fördern.
          </p>
          <p>
            Diesen Ansatz habe ich über viele Jahre bewusst vertieft und
            verbinde ihn mit meiner Expertise als Erzieherin und Motopädagogin
            (Psychomotorik IPE) sowie meinen persönlichen Erfahrungen auf meinem
            bisherigen Lebensweg. Aufgrund meiner Überzeugung, dass wir Menschen
            lebenslang lernen - und weil es mich persönlich erfüllt - bilde und
            entwickle ich mich laufend weiter.
          </p>
        </div>
        <div
          class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture
            src={arbeitsweiseImage}
            alt="Platzhalter"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
      </div>
    </section>

    <ImageTextSection imageMetadata={haende}
      >„Im Leben kommt es nicht darauf an, gute Karten zu haben, sondern auch
      mit einem schlechten Blatt gut zu spielen.“ <br />
      nach Robert Louis Stevenson
    </ImageTextSection>

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <p>
          Die Psychomotorik (IPE) ist für mich nicht nur ein berufliches
          Prinzip, sondern ebenfalls Teil meiner persönlichen Grundhaltung.
          Neben systemischen, psycho-analytischen und lösungsorientierten
          Methoden ist sie auch ein zentraler Vorteil im Coaching. Viele Jahre
          habe ich diesen Bereich nebenberuflich gelebt - Erfahrungen, die mich
          bis heute prägen.
        </p>
        <p>
          Gleichermaßen ist Achtsamkeit ein zentraler Wert in meinem Leben und
          zeigt sich in Respekt, Wertschätzung und Empathie. Diese Haltung
          findet sich auch in der modernen, alltagsnahen Spiritualität -
          unabhängig von Religion oder Glaubenszugehörigkeit. Im Mittelpunkt
          steht die bewusste Verbindung zu sich selbst, zu anderen und zur
          Weisheit unserer Natur - dem Leben als Ganzes.
        </p>
        <p>
          Dahingehend geprägt hat mich zusätzlich die jahrelange Arbeit mit
          Pferden und Hunden. Diese Faszination hält bis heute an. In der
          Begegnung mit ihnen, habe ich gelernt, wie wichtig Achtsamkeit,
          Präsenz, Klarheit und innere Haltung sind. Tiere reagieren ehrlich und
          unverstellt auf das, was uns im Inneren bewegt - ohne zu werten. Mit
          Kontrolle, Druck oder Macht kommt man nicht weit. Stattdessen fordern
          sie Verantwortung, Geduld und Selbstreflexion, sowie Präsenz und die
          Fähigkeit bewusst zu handeln.
        </p>
      </div>
      <div
        class="mt-8 flex flex-col items-center justify-center gap-4 sm:flex-row sm:gap-6"
      >
        <a
          href="/erziehung"
          class="btn bg-manao hover:border-manao hover:text-manao w-full text-white transition-colors duration-300 hover:bg-white sm:w-auto"
        >
          Meine Haltung zu Erziehung
        </a>
        <a
          href="/psychomotorik"
          class="btn bg-manao hover:border-manao hover:text-manao w-full text-white transition-colors duration-300 hover:bg-white sm:w-auto"
        >
          Mehr über Motopädagogik
        </a>
      </div>
      <div class="mt-8 space-y-5">
        <p>
          Mit zunehmender Veränderung unserer Gesellschaft und meines aktuellen
          Berufsfeldes sowie meiner Rolle als Mutter - die Kinder werden
          selbständiger, der Fokus verschiebt sich - wuchs in mir der Wunsch
          meinen Wirkungsbereich wieder zu erweitern. Neben meinem wichtigsten
          Beweggrund - verstärkt zur sozialen und emotionalen Bildung
          beizutragen - möchte ich Menschen umfassender begleiten.
        </p>
      </div>
    </section>
    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div
          class="order-2 w-full max-w-xs self-center md:order-1 md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture
            src={arbeitsweiseImage}
            alt="Platzhalter"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
        <div class="order-1 space-y-5 md:order-2 md:basis-3/5">
          <p>
            Daher habe ich im November 2022 mit unserer Nachwuchshündin, den
            Eignungstest sowie die Basisausbildung "Therapiehunde im Einsatz"
            bei Therapiehunde Deutschland e.V. erfolgreich absolviert.
          </p>
          <p class="text-manao font-semibold">
            Ein Hund öffnet das Herz, erdet die Seele und erinnert an das
            Wesentliche.
          </p>
          <p>
            Die Ausbildung zum SKYourself®-Coach, die ich im April 2025
            erfolgreich abgeschlossen habe, war dahingehend ebenfalls ein
            weiterer wertvoller Schritt für mich - zeitgleich eine Vertiefung
            meiner Arbeit im energetischen und spirituellen Bereich.
          </p>
        </div>
      </div>
    </section>

    <ImageTextSection imageMetadata={haende}
      >"Ganzheitliche Gesundheit beginnt dort, wo wir Körper, Geist und Seele
      nicht länger trennen."
      <br />
      Deepak Chopra - internationaler Autor, Arzt, Speaker
    </ImageTextSection>

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div class="space-y-5 md:basis-3/5">
          <p>
            Auf dieser Grundlage ergänze ich meine persönlichen Lebens- und
            Berufserfahrungen mit weiterem Fachwissen aus zahlreichen
            Fortbildungen und kontinuierlichem Selbststudium sowie
            Selbsterfahrung in unterschiedlichen Bereichen:
          </p>
          <ul class="marker:text-manao list-disc space-y-2 pl-6">
            <li>
              Methoden aus Achtsamkeitspraxis, Körperarbeit und
              Resilienztraining (z.B. Meditation, Intuitionstraining,
              Breathwork, Yoga, Qigong)
            </li>
            <li>
              Nervensystembezogene Ansätze und Regulation (z.B.
              Polyvagaltheorie)
            </li>
            <li>Dialektisch-Behaviorale Therapie (Skills)</li>
            <li>
              Diverse Formen der spirituellen Praxis und Energiearbeit wie z.B.
              psychologische Astrologie, Reiki, Matrix Quantenheilung, HMO® -
              Heilmagnetische Ordnungstherapie nach Johanna Arnold -
              Ausbildungsende voraussichtlich Oktober 2026
            </li>
            <li>
              Unser Körper als Barometer der Seele (Jacques Martel, Louise L.
              Hay)
            </li>
            <li>TCM/Selbstakupunktur/Biophotonen - Lifewave®</li>
            <li>
              Mediale und intuitive Wahrnehmungsschulung (innere Bilder,
              Aurareading, Trancezustände)
            </li>
            <li>Skala des Bewusstseins nach Dr. David R. Hawkins</li>
            <li>
              GFK - gewaltfreie Kommunikation inklusive Giraffentraum® (GFK für
              Kinder)
            </li>
            <li>Edu-Kinestetik</li>
            <li>
              Bandschi®-Konzept (Rückenschule für Kinder nach Sabine Kollmuß)
            </li>
            <li>
              Prä- und perinatale Informationen zur individuellen
              Entscheidungsfindung rund um Schwangerschaft und Geburt u. a. die
              Hausgeburt oder natürliche Geburt bei Beckenendlage
            </li>
            <li>Die natürliche Geburt als Startpunkt für Reflexaktivierung</li>
          </ul>
          <div class="collapse-arrow border-manao bg-manao/5 collapse border">
            <input type="checkbox" />
            <div class="collapse-title text-manao font-semibold">
              Weitere Bereiche
            </div>
            <div class="collapse-content">
              <ul class="marker:text-manao list-disc space-y-2 pl-6">
                <li>Babymassage nach Frédérick Leboyer</li>
                <li>Thematik des alleingeborenen Zwillings</li>
                <li>Narzissmus - bei Erwachsenen, Kindern, Jugendlichen</li>
                <li>Persönlichkeitsentwicklung durch tiergestützte Arbeit</li>
                <li>körpersprachliches Arbeiten mit Pferden</li>
                <li>körpersprachliches Arbeiten mit Hunden</li>
                <li>
                  Naturheilkunde (Homöopathie, Phytotherapie, Spagyrik,
                  Konstitutionsmittel u. a. bei Kindern...)
                </li>
                <li>
                  Bachblüten und Schüßler Salze + alkoholfreie Variante bzw.
                  lactosefreie Variante
                </li>
                <li>
                  Impfungen - neutral und faktisch sowie kritische Perspektiven
                  und alternative Sichtweisen
                </li>
                <li>
                  Orthomolekulare Medizin (Vitamine und Nahrungsergänzungsmittel
                  - Sinn oder Unsinn? - Lithium, Omega 3, CDL, DMSO usw.)
                </li>
                <li>Ernährung (u. a. heimische Wildkräuter/Superfoods)</li>
                <li>
                  Thema Wasser in der Ernährung (u.a. Masaru Emoto, hexagonale
                  Struktur und die Lehre von Johann Doppelhofer)
                </li>
                <li>
                  Nahtoderfahrungen/Fortleben der Seele (u. a. EREAMS-Studie,
                  Projektleitung Dr. Oliver Lazar)
                </li>
                <li>
                  Gehirnwellenorientierte Musik (z. B. Theta - Musik, Alpha -
                  Musik, Binaurale Beats, Klangreisen, Schuhmann Frequenzen)
                </li>
                <li>...</li>
              </ul>
            </div>
          </div>
          <p>
            Wenn du mehr Information zu meinen Zertifizierungen möchtest,
            tausche ich mich dazu gerne persönlich mit dir aus.
          </p>
          <p>
            Zudem interessieren mich gesellschaftliche Entwicklungen, politische
            Zusammenhänge, kulturelle Dynamiken und kollektive Prozesse sowie
            das Weltgeschehen. Um mir meine persönliche Meinung zu bilden, nutze
            ich auch alternative Medien und vor allem schätze ich persönliche
            Kontakte zu Menschen aus anderen Nationen/Kulturen.
          </p>
          <p>
            Mit den Jahren habe ich mir so ein vielfältiges Repertoire
            erarbeitet, das stetig wächst und auf das ich zurückgreifen kann.
            Dieses teile ich sehr gerne.
          </p>
        </div>
        <div
          class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture
            src={arbeitsweiseImage}
            alt="Platzhalter"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
      </div>
    </section>

    <ImageTextSection imageMetadata={haende}
      >* alltagstaugliche Werkzeuge/lösungsorientiert * keine Abhängigkeit *
      Hilfe zur Selbsthilfe * keine fixen "Programme", sondern "maßgeschneidert"
      * alles ist bereits in dir!
    </ImageTextSection>

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div class="space-y-6 md:basis-3/5">
          <p class="text-manao text-xl md:text-2xl">
            Und so freue ich mich auf jede Begegnung!
          </p>
          <p class="font-licorice text-manao text-5xl md:text-6xl">Kathrin</p>
          <blockquote class="border-manao space-y-2 border-l-4 pl-4 italic">
            <p>
              „Jeder Mensch, dem du begegnest, weiß etwas, das du nicht weißt.
              Lerne von ihm.“
            </p>
            <footer class="text-manao text-sm not-italic">
              H. Jackson Brown Jr. - US-amerikanischer Autor und
              Motivationstrainer
            </footer>
          </blockquote>
        </div>
        <div
          class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture
            src={arbeitsweiseImage}
            alt="Sonne"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
