---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import steine from "../assets/steine.webp";
import arbeitsweiseImage from "../assets/sun.webp";
import aquarell from "../assets/aquarell.webp";
import himmel from "../assets/himmel.webp";
import kathrin from "../assets/kathrin.webp";
import ImageTextSection from "../components/ImageTextSection.astro";
import Divider from "../components/Divider.astro";
---

<Layout title="Arbeitsweise" description="tbd">
  <main>
    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div class="space-y-5 md:basis-3/5">
          <h1
            class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
          >
            Meine Arbeitsweise
          </h1>
          <p>
            Sowohl beruflich als auch privat orientiere ich mich an einem
            ganzheitlichen Verständnis des Mensch-Seins, bei dem körperliche,
            psychische und feinstoffliche Ebenen miteinander verbunden sind.
          </p>
          <p>
            Auch das Umfeld - wie Wohnsituation, Alltag, Familie, Freundeskreis,
            und Gesellschaft - beeinflusst unser Leben maßgeblich.
          </p>
          <p>
            In meiner Lebens- und Sichtweise ergänzen sich daher verschiedene
            Methoden – darunter Schulmedizin, Naturheilkunde und
            energetisch-spirituelle Praxis – um persönliche Entwicklung zu
            begleiten sowie innere Stabilität und ganzheitliche Gesundheit zu
            erhalten und zu fördern.
          </p>
          <p>
            Da stetige Veränderung unser Dasein bestimmt, dürfen wir lernen, der
            inneren Stimme zu lauschen, unserer Intuition zu vertrauen und uns
            so dem Wandel zu öffnen.
          </p>
          <p class="border-manao border-l-4 p-4">
            Die tiefe <span class="text-manao font-bold">Rückverbindung</span>
            und eine solche <span class="text-manao font-bold">Ausrichtung</span
            > schenken Klarheit und neue Kraft. <br /> Auf diese Weise entdecken wir
            unsere ganz eigenen Wege und Möglichkeiten - mana'o.
          </p>
          <p>
            Diesen Ansatz haben meine eigenen Lebensaufgaben und die bewusste
            Auseinandersetzung damit geprägt.
          </p>
          <div class="mx-auto w-full max-w-xs md:hidden">
            <Picture
              src={steine}
              alt="Platzhalter"
              class="aspect-square w-full rounded-full object-cover"
            />
          </div>
          <p class="mt-10 md:mt-0">
            Mich persönlich erfüllt es sehr, mein Wissen über das Wunder des
            Lebens stetig zu vertiefen. So konnte ich mein Fundament und meine
            Expertise als Erzieherin und Motopädagogin (Psychomotorik / IPE)
            durch zusätzliche Aus- und Weiterbildungen in ganzheitlich
            orientierten Arbeitsfeldern um ein breites Spektrum erweitern.
          </p>
        </div>
        <div
          class="hidden w-full max-w-xs self-center md:mt-20 md:block md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture
            src={steine}
            alt="Platzhalter"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
      </div>
    </section>

    <ImageTextSection imageMetadata={aquarell}
      ><span class="text-manao-dark font-caveat text-3xl md:text-4xl"
        >„Im Leben kommt es nicht darauf an, gute Karten zu haben, <br />sondern
        auch mit einem schlechten Blatt gut zu spielen.“</span
      >
      <br /><span class="text-manao-dark text-sm"
        >nach Robert Louis Stevenson</span
      >
    </ImageTextSection>

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <p>
          Mit zunehmender Veränderung unserer Gesellschaft und meines aktuellen
          Berufsfeldes sowie meiner Rolle als Mutter - die Kinder werden
          selbständiger, der Fokus verschiebt sich - wuchs in mir der Wunsch
          meinen Wirkungsbereich wieder zu erweitern. <br />Neben meinem
          wichtigsten Beweggrund - verstärkt zur emotionalen und sozialen
          Bildung beizutragen - möchte ich Menschen umfassender begleiten.
        </p>
        <p>
          Dabei ist die <span class="text-manao font-bold"
            >Psychomotorik (IPE)</span
          > für mich nicht nur ein berufliches Prinzip, sondern Teil meiner persönlichen
          Grundhaltung. <br />Neben systemischen, psycho-analytischen und
          lösungsorientierten Methoden erweist sie sich auch im <span
            class="italic">Coaching als zentraler Vorteil</span
          >. Viele Jahre habe ich diesen Bereich nebenberuflich gelebt -
          Erfahrungen, die mich bis heute prägen.
        </p>
        <p>
          Gleichermaßen ist <span class="text-manao font-bold">Achtsamkeit</span
          > ein zentraler Wert in meinem Leben und zeigt sich in Respekt, Wertschätzung
          und Empathie. Diese Haltung findet sich auch in der modernen, alltagsnahen
          Spiritualität - unabhängig von Religion oder Glaubenszugehörigkeit.
        </p>
        <p class="border-manao border-l-4 p-4">
          Im Mittelpunkt steht die bewusste Verbindung zu sich selbst, zu
          anderen und zur Weisheit unserer Natur - dem Leben als Ganzes.
        </p>
        <p>
          Dahingehend geprägt hat mich zusätzlich die jahrelange <span
            class="text-manao font-bold">Arbeit mit Pferden und Hunden</span
          >. Diese Faszination hält bis heute an.<br /> In der Begegnung mit ihnen,
          habe ich gelernt, wie wichtig Achtsamkeit, Präsenz, Klarheit und innere
          Haltung sind. <br />Tiere reagieren ehrlich und unverstellt auf das,
          was uns im Inneren bewegt - ohne zu werten. Mit Kontrolle, Druck oder
          Macht kommt man nicht weit.
        </p>
        <p>
          Stattdessen fordern sie Verantwortung, Geduld und Selbstreflexion,
          sowie Präsenz und die Fähigkeit bewusst zu handeln.
        </p>
        <p class="font-caveat text-manao-dark text-center text-3xl">
          Tiere öffnen das Herz, erden die Seele und erinnern an das
          Wesentliche.
        </p>
      </div>
      <div
        class="mt-8 flex flex-col items-center justify-center gap-4 sm:flex-row sm:gap-20"
      >
        <a
          href="/erziehung"
          class="btn bg-manao hover:border-manao hover:text-manao w-full text-white transition-colors duration-300 hover:bg-white sm:w-auto"
        >
          Meine Haltung zu Erziehung
        </a>
        <a
          href="/psychomotorik"
          class="btn bg-manao hover:border-manao hover:text-manao w-full text-white transition-colors duration-300 hover:bg-white sm:w-auto"
        >
          Mehr über Psychomotorik (IPE)
        </a>
      </div>
    </section>
    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div class="space-y-5 md:basis-3/5">
          <p class="text-manao-dark font-bold">
            Mein Fundament als Erzieherin und Motopädagogin ergänzen Aus- und
            Weiterbildungen in ganzheitlich orientierten Arbeitsfeldern.
          </p>
          <p>
            Im Zentrum steht dabei die Methode SKYourself® (Annette Müller,
            ÉCOLE SAN ESPRIT). Sie bildet für mich das wesentliche Fundament, um
            festsitzende emotionale Blockaden und Schutzmechanismen sowie
            transgenerationale Prägungen direkt an der Basis sanft zu klären.
          </p>
          <p>
            Da solche Schutzmechanismen und übernommenen Muster schon in
            frühester Kindheit wirken und das Erleben tief prägen, ist diese
            Methode nicht nur für Erwachsene sondern auch für Kinder eine
            äußerst wertvolle Unterstützung.
          </p>
          <p>
            Eine aktive energetische Begleitung für Kinder biete ich jedoch
            ausschließlich im Rahmen von mana'o und in enger Absprache mit den
            Eltern an.
          </p>
          <p class="text-manao-dark mt-10 font-bold">
            Ebenso wertvolle Aus- und Weiterbildungen sowie Fachwissen aus
            Selbststudium und Selbsterfahrung:
          </p>
          <ul class="marker:text-manao list-disc space-y-2 pl-6">
            <li>
              GFK - Gewaltfreie Kommunikation inklusive Giraffentraum® (GFK für
              Kinder)
            </li>
            <li>
              Basisausbildung "Therapiehunde im Einsatz" inklusive Eignungstest
              bei Therapiehunde Deutschland e. V. mit Familienhündin Jala
            </li>
            <li>
              Ausbildung in der HMO® (heilmagnetische Ordnungstherapie nach
              Johanna Arnold) und weitere energetisch-spirituelle Methoden (u.
              a. Matrix Energetics® nach Dr. Richard Bartlett, Quantenheilung
              nach Dr. Frank Kinslow einschließlich der Zwei-Punkt-Methode sowie
              Psychologische Astrologie)
            </li>
            <li>
              Qigong für Frauen (Paracelsus Akademie) sowie weitere Methoden der
              Körperarbeit, ergänzt durch Achtsamkeits-, Intuitions- und
              Resilienztraining (u. a. Meditation, Breathwork, Yoga)
            </li>
            <li>
              Nervensystembezogene Regulation (u. a. Polyvagaltheorie sowie
              Skills aus der Dialektisch-Behavioralen Therapie)
            </li>
            <li>
              Schatten- und Innenweltarbeit (u. a. nach C. G. Jung - Integration
              unbewusster Persönlichkeitsanteile, Rückführungsarbeit in Form
              biografischer Imagination - ohne Hypnose, Arbeit mit dem inneren
              Kind sowie psychologische Perspektiven auf emotionale Prägung und
              Selbstwahrnehmung)
            </li>
            <li>
              Ausbildung zum Medium-Higher Class nach dem englischen
              Spiritualismus (u. a. innere Bilder, Aurareading, Trance Healing,
              Jenseitskontakte)
            </li>
            <li>
              Unser Körper als Barometer der Seele (Jacques Martel, Louise L.
              Hay)
            </li>
            <li>TCM/Lichtakupunktur/Biophotonen - Lifewave®</li>
            <li>
              Paare auf dem Weg in eine gleichwertige und glückliche
              Partnerschaft (u. a. Ich, Du, Wir - sowie Liebende bleiben, Jesper
              Juul)
            </li>
            <li>
              Prä- und perinatale Informationen zur individuellen
              Entscheidungsfindung rund um Schwangerschaft und Geburt (u. a. die
              Hausgeburt oder natürliche Geburt bei Beckenendlage)
            </li>
            <li>Die natürliche Geburt als Startpunkt für Reflexaktivierung</li>
          </ul>
          <div class="collapse-arrow border-manao bg-manao/5 collapse border">
            <input type="checkbox" />
            <div class="collapse-title text-manao font-semibold">
              Weitere Bereiche
            </div>
            <div class="collapse-content">
              <ul class="marker:text-manao list-disc space-y-2 pl-6">
                <li>Edu-Kinestetik - Brain-Gym®</li>
                <li>
                  Bandschi®-Konzept (Rückenschule für Kinder nach Sabine
                  Kollmuß)
                </li>
                <li>Babymassage nach Frédérick Leboyer</li>
                <li>Thematik des alleingeborenen Zwillings</li>
                <li>Narzissmus - bei Erwachsenen, Kindern, Jugendlichen</li>
                <li>Persönlichkeitsentwicklung durch tiergestützte Arbeit</li>
                <li>
                  körpersprachliches Arbeiten mit Pferden sowie mit Hunden
                  (inkl. Weg zum Reitbegleithund)
                </li>
                <li>
                  TEM – Traditionell Europäische Medizin (Schwerpunkt
                  Phytotherapie) und weitere Bereiche der Naturheilkunde wie
                  Homöopathie, Spagyrik, Konstitutionsmittel bei Kindern sowie
                  Aromatherapie (Primavera), Bachblüten und Schüßler-Salze
                  inklusive alkoholfreie Variante bzw. lactosefreie Variante
                </li>
                <li>
                  Impfungen - neutral und faktisch sowie kritische Perspektiven
                  und alternative Sichtweisen
                </li>
                <li>
                  Nahrungsergänzungen und Vitamine - Orthomolekulare Medizin (u.
                  a. Lithium, Omega 3, CDL, MSM, DMSO usw.)
                </li>
                <li>Ernährung (u. a. heimische Wildkräuter/Superfoods)</li>
                <li>
                  Thema Wasser in der Ernährung (u.a. Masaru Emoto, hexagonale
                  Struktur und die Lehre von Johann Doppelhofer)
                </li>
                <li>
                  Nahtoderfahrungen/Fortleben der Seele (u. a. EREAMS-Studie,
                  Projektleitung Dr. Oliver Lazar)
                </li>
                <li>Skala des Bewusstseins nach Dr. David R. Hawkins</li>
                <li>
                  Gehirnwellenorientierte Musik (z. B. Theta - Musik, Alpha -
                  Musik, Binaurale Beats, Klangreisen, Schuhmann Frequenzen)
                </li>
                <li>Heilsteine, Orgonite</li>
                <li>...</li>
              </ul>
            </div>
          </div>
          <p>
            Wenn du mehr Information zu meinen Zertifizierungen möchtest,
            tausche ich mich dazu gerne persönlich mit dir aus.
          </p>
        </div>
        <div
          class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture
            src={arbeitsweiseImage}
            alt="Platzhalter"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
      </div>
    </section>

    <ImageTextSection imageMetadata={himmel}
      ><span class="font-caveat text-manao-dark text-3xl md:text-4xl"
        >"Ganzheitliche Gesundheit beginnt dort, wo wir Körper, Geist und Seele
        nicht länger trennen."</span
      >
      <br /><span class="text-manao-dark text-sm"
        >Deepak Chopra - internationaler Autor, Arzt, Speaker</span
      >
    </ImageTextSection>

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <p>
          Zudem interessieren mich gesellschaftliche Entwicklungen, politische
          Zusammenhänge, kulturelle Dynamiken und kollektive Prozesse sowie das
          Weltgeschehen. <br />Um mir meine persönliche Meinung zu bilden, nutze
          ich auch alternative Medien und vor allem schätze ich persönliche
          Kontakte zu Menschen aus anderen Nationen/Kulturen.
        </p>
        <p>
          Mit den Jahren habe ich mir so ein vielfältiges Repertoire erarbeitet,
          das stetig wächst und auf das ich zurückgreifen kann. Dieses teile ich
          sehr gerne.
        </p>
      </div>
    </section>

    <section class="mx-auto max-w-5xl px-5 py-5">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div class="space-y-6 md:basis-3/5">
          <p class="text-manao text-xl md:text-2xl">
            Und so freue ich mich auf jede Begegnung!
          </p>
          <p class="font-licorice text-manao text-5xl md:text-6xl">Kathrin</p>
          <blockquote class="border-manao space-y-2 border-l-4 pl-4 italic">
            <p>
              „Jeder Mensch, dem du begegnest, weiß etwas, das du nicht weißt.
              Lerne von ihm.“
            </p>
            <footer class="text-sm not-italic">
              H. Jackson Brown Jr. - US-amerikanischer Autor und
              Motivationstrainer
            </footer>
          </blockquote>
        </div>
        <div
          class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture src={kathrin} alt="Sonne" class="w-full" />
        </div>
      </div>
    </section>
  </main>
</Layout>
