---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import headerImage from "../assets/header.jpg";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Kurs1 from "../components/Kurs1.astro";
import sunImage from "../assets/sun.webp";
import Kurs2 from "../components/Kurs2.astro";
import Kurs3 from "../components/Kurs3.astro";
import Kurs4 from "../components/Kurs4.astro";
---

<Layout title="manao" description="manao">
  <main>
    <Picture src={headerImage} alt="Header" />
    <Hero />
    <Section imageMetadata={sunImage} />
    <Kurs1 />
    <Section imageMetadata={sunImage} />
    <Kurs2 />
    <Section imageMetadata={sunImage} />
    <Kurs3 />
    <Section imageMetadata={sunImage} />
    <Kurs4 />
  </main>
</Layout>
